* {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}
html, body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;;
}

h1 {
    font-size: 10vw;;
}
